.main-products{
    height: 400px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    padding: 0 180px;
    margin-top: 50px;
    gap: 40px;
}

.section-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.img-main img{
    width: 600px;
    height: 400px;
    box-sizing: border-box;
}

.text-main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}